<div class="d-flex w-100 {{ cssClassName }}" [formGroup]="group">
  <div class="col-md-4 d-none d-md-flex">
    <div class="d-flex align-items-center">
      <span>{{ label }}</span>
    </div>
  </div>
  <div class="col-md-8 col-sm-12">
    <mat-form-field class="full-width-input">
      <input
        matInput
        appAutocomplete
        [debounceTime]="debounceTime"
        [minLength]="minLength"
        [matAutocomplete]="auto"
        [formControlName]="controlName"
        [formControl]="control"
        (search)="handleSearch($event)"
        (reset)="resetControl()"
        [attr.type]="attributes?.type || 'text'"
        [ngStyle]="inputStyle"
      />
      <mat-placeholder class="d-md-none d-block">{{ placeholder }}</mat-placeholder>
      <button
        mat-button
        *ngIf="group.get(controlName).value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="group.get(controlName).setValue(null)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>
        <app-error-message [control]="control"></app-error-message>
      </mat-error>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleSelectItem($event)">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{ item[searchKey] }}
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
